fastapi==0.115.13
uvicorn==0.34.1

httpx==0.28.1
requests==2.32.4
aiohttp==3.12.14
anyio==4.9.0

openai==1.97.0
tiktoken==0.9.0

langchain==0.3.23
langchain-core==0.3.69
langchain-community==0.3.21
langchain-openai==0.3.13
langchain-groq==0.3.6
langchain-text-splitters==0.3.8

langgraph==0.3.31
langgraph-sdk==0.1.73
langgraph-prebuilt==0.1.8
langgraph-checkpoint==2.0.24

dataclasses-json==0.6.7
pydantic==2.11.7
pydantic-settings==2.10.1
pydantic_core==2.33.2

orjson==3.11.0
python-dotenv==1.1.1
typing_extensions==4.14.1
fpdf==1.7.2